{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}
    众乐网-技术栈
{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <section class="panel">
                <div class="revenue-head">
                    <span>
                        <i class="icon-bar-chart"></i>
                    </span>
                    <h3>实战经验</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        {#筛选工具栏#}
                        <div id="toolbar_table_articles">
                            <form class="form-inline" role="form">
                                <span>
                                    <input type="text" class="form-control search" placeholder="Search" name="search" id="search" value="{{ search }}">
                                </span>
                                <div class="form-group">
                                    <select class="form-control" id="category" name="category">
                                        <option value="0"> 选择分类 </option>
                                        {% for item in category %}
                                        <option value="{{ item.id }}">{{ item.name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </form>
                        </div>
                        <table id="table_articles" name="table_articles"
                            data-toggle="table"
                            data-unique-id="id"
                            data-id-table="advancedTable"
                            {# 分页方式：服务端、客户端分页 #}
                            data-side-pagination="server"
                            data-toolbar="#toolbar_table_articles"
                            data-show-columns="true"
                            data-page-list="[10, 25, 50, 100, ALL]"
                            data-pagination="true"
                            data-page-size="10"
                            data-pagination-first-text="首页"
                            data-pagination-pre-text="上一页"
                            data-pagination-next-text="下一页"
                            data-pagination-last-text="末页"
                            data-show-refresh="true"
                            data-query-params="queryParams"
                            data-url="/apis/articles/"
                            data-show-export="true"
                            data-export-types="['excel']"
                            data-export-options='{
                                "fileName": "众乐技术栈",
                                "worksheetName": "所有文章",
                            }'>
                        <thead>
                        <tr>
                          <th data-field="state" data-checkbox="true"></th>
                          <th data-field="id"
                              >序号</th>
                          <th data-field="title"
                              data-formatter="titleFormatter"
                              >标题</th>
                          <th data-field="author__username"
                              >作者</th>
                          <th data-field="collection_rate"
                              data-formatter="collection_rateFormatter"
                              >收藏量</th>
                          <th data-field="oper"
    {#                          /*操作格式为自定义函数operateFormatter返回的样式*/#}
                              data-formatter="operateFormatter"
    {#                          /*操作动作为自定义函数operateEvents-改这里*/#}
                              data-events="operateEvents"
                              >操作</th>
                        </tr>
                        </thead>
                     </table>
                    </div>
                </div>

            </section>
        </div>
    </div>
{% endblock %}
{% block scr %}

    <script src="{% static 'assets/bootstrap-table/bootstrap-table.js' %}"></script>
    <script src="{% static 'assets/bootstrap-table/locale/bootstrap-table-zh-CN.min.js' %}"></script>
    <script src="{% static 'assets/bootstrap-table/tableExport.js' %}"></script>
    <script src="{% static 'assets/bootstrap-table/extensions/export/bootstrap-table-export.js' %}"></script>
    <script>
         // 定义标题格式，返回html字符串
         function titleFormatter(value, row, index) {
        {#          url_article_detail = "/article/"+row.id+"/"; #}
            url_article_detail = "{% url 'techstack:article_detail' '0000' %}";
            url_article_detail = url_article_detail.replace('0000', row.id);
            // 返回标题的前50个字符
            return "<a href='"+url_article_detail+"'>"+row.title.substring(0, 50)+"</a>";
         }

         // 定义收藏量格式，返回html字符串
         function collection_rateFormatter(value, row, index) {
            return '17%'
        }

        // 定义操作列格式，返回html字符串
        function operateFormatter(value, row, index) {
            if(row.collection == true){
                li = '<i class="glyphicon glyphicon-heart article-id-'+row.id+'"></i>'
            }else{
                li = '<i class="glyphicon glyphicon-heart-empty article-id-'+row.id+'"></i>'
            }
            return [
                '<a class="like" href="javascript:void(0)" title="收藏">',
                li,
                '</a>'
            ].join('');
        }

        // 定制like按钮动作
        operateEvents = {
            // 操作栏，点击class为like的链接时触发动作
            'click .like': function (e, value, row) {
                // alert('You click like action, row: ' + JSON.stringify(row));
                // ajax调用接口：'/apis/article/collection/'+ row.id +'/'
                // alert(JSON.stringify(row.id));
                $.ajax({
                    url: '/apis/article/collection/'+ row.id +'/',
                    type: 'GET',
                    // dataType: 'json',
                    success: function (data) {
                        if(data.code == 200){
                            obj_a = $(".article-id-"+row.id);
                            // 根据状态显示爱心
                            if(data.msg.status){
                                obj_a.attr("class", "glyphicon glyphicon-heart "+"article-id-"+row.id)
                            }else{
                                obj_a.attr("class", "glyphicon glyphicon-heart-empty "+"article-id-"+row.id)
                            }
                        }
                    },
                    error: function () {
                        alert('error');
                    }
                });
            }
        };
    </script>
    <script>
        // 给工具栏添加js动作
        $table = $("#table_articles");
            // 生成请求发送给服务端的请求数据
        function queryParams(tableParams) {
             // 定义返回数据
            var params = {};
            // 获取pagesize, offset, page
            console.log(tableParams);
            params['pagesize'] = tableParams.limit;
            params['offset'] = tableParams.offset;
            params['page'] = $table.bootstrapTable('getOptions').pageNumber;
            params['search'] = $("#search").val();
            // 获取toolbar 的select对象有name，将名字和值取出
            $('#toolbar_table_articles').find('select[name]').each(
                function () {
                    params[$(this).attr('name')] = $(this).val();
                }
            );
            // 返回所有参数{"pagesize":20, "page":1, "offset":0}
            // /apis/articles/?pagesize=20&page=1&offset=0
            return params;
        }

        // 当修改查询参数时，重新加载table数据
        var $select_category = $('#category');

        $(function () {
            // 切换分类
            $select_category.change(function () {
                $table.bootstrapTable('refresh');
            })
        });

    </script>


{% endblock %}

{% block load_css %}
    <link rel="stylesheet" href="{% static 'assets/bootstrap-table/bootstrap-table.css' %}">
{% endblock %}