<!DOCTYPE html>
{% load staticfiles %}
{% load thumbnail %}
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>{% block title %}{% endblock %}</title>
<meta name="description" content="">
<meta name="keywords" content="">
<link href="/static/css/main.css" rel="stylesheet">
{#<script src="/static/js/jquery-1.7.1.min.js"></script>#}
<script src="{% static 'js/jquery.js' %}"></script>
<link href="{% static 'assets/font-awesome/css/font-awesome.css' %}" rel="stylesheet" />
{# 加载提示工具对应的js和css #}
<link rel="stylesheet" type="text/css" href="/static/assets/gritter/css/jquery.gritter.css" />
<script type="text/javascript" src="/static/assets/gritter/js/jquery.gritter.js"></script>
<link href="/static/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="head">
        {% if user.is_authenticated %}
            <div class="content">
{#    		<div class="logo"><img src="imgs/logo3.png" height="101" width="172" alt=""></div>#}
    		<div class="nav">
	    		<ul>
	    			<li>
	    				<a href="/" style="text-decoration: none">首页</a>
	    			</li>
{#                    style="position:relative;"#}
	    			<li>
	    				<a href="/" style="text-decoration: none">任务大厅</a>
{#	    				<ul class="second-nav">#}
{#	    					<li>#}
{#	    						<a href="/templates/platform.html">平台介绍</a>#}
{#	    					</li>#}
{#	    					<li>#}
{#	    						<a href="/templates/tools.html">开发工具</a>#}
{#	    					</li>#}
{#	    				</ul>#}
	    			</li>
	    			<li>
	    				<a href="/templates/document.html" style="text-decoration: none">发布任务</a>
	    			</li>
	    			<li>
	    				<a href="{% url 'techstack:articles' %}" style="text-decoration: none">技术栈</a>
	    			</li>
	    			<li>
	    				<a href="/templates/aboutus.html" style="text-decoration: none">关于我们</a>
	    			</li>
                    <li class="dropdown">
                        <a style="text-decoration: none">
{#                          <img alt="/" src="{{ user.avator|thumbnail_url:'avator' }}" height="30px">#}
                          <span>{{ user }}</span>
                          <b class="caret"></b>
                        </a>
                        <ul class="second-nav">
	    					<li>
	    						<a href="{% url 'usercenter:profile' %}" style="text-decoration: none">个人资料</a>
	    					</li>
	    					<li>
	    						<a href="{% url 'usercenter:change_passwd' %}" style="text-decoration: none">修改密码</a>
	    					</li>
                            <li>
	    						<a href="#" style="text-decoration: none">我的收藏</a>
	    					</li>
                            <li>
	    						<a href="{% url 'accounts:logout' %}" style="text-decoration: none">退出登录</a>
	    					</li>
	    				</ul>
                      </li>
                    </ul>
                </div>
            </div>
        {% else %}
    	    <div class="content">
{#    		<div class="logo"><img src="imgs/logo3.png" height="101" width="172" alt=""></div>#}

            <div class="login-box">
    			<a href="{% url 'accounts:login' %}" class="n2" style="text-decoration: none">登录</a>
    			<a href="{% url 'accounts:register' %}" class="n1" style="text-decoration: none">注册</a>
    		</div>
    		<div class="nav">
	    		<ul>
	    			<li>
	    				<a href="/" style="text-decoration: none">首页</a>
	    			</li>
{#                    style="position:relative;"#}
	    			<li>
	    				<a href="/" style="text-decoration: none">任务大厅</a>
{#	    				<ul class="second-nav">#}
{#	    					<li>#}
{#	    						<a href="/templates/platform.html">平台介绍</a>#}
{#	    					</li>#}
{#	    					<li>#}
{#	    						<a href="/templates/tools.html">开发工具</a>#}
{#	    					</li>#}
{#	    				</ul>#}
	    			</li>
	    			<li>
	    				<a href="/templates/document.html" style="text-decoration: none">发布任务</a>
	    			</li>
	    			<li>
	    				<a href="{% url 'techstack:articles' %}" style="text-decoration: none">技术栈</a>
	    			</li>
	    		</ul>
    		</div>
    	</div>
        {% endif %}
    </div>
    {% block content %}
        this is content
    {% endblock %}

    {% block scr %}
{#        <script>#}
{#            // 导航栏添加选中样式#}
{#            $(document).ready(function(){#}
{#                $(".nav a").each(function(){#}
{#                    $this = $(this);#}
{#                    if($this[0].href==String(window.location)){#}
{#                        $this.addClass("current-nav");#}
{#                    }#}
{#                });#}
{#            });#}
{#        </script>#}
    {% endblock %}
    {% block load_css %}
    {% endblock %}
</body>
</html>