{% load staticfiles %}
<!--header start-->
<header class="header white-bg">
      <!--logo start-->
      <a href="#" class="logo">众乐网</a>
      <!--logo end-->
      <div class="top-nav">
          <!-- Collect the nav links, forms, and other content for toggling -->
          <ul class="nav navbar-nav">
            <li class="active">
              <a class="" href="{% url 'index' %}">
                  <span> 首页 </span>
              </a>
            </li>
            <li class="">
                <a class="" href="{% url 'techstack:articles' %}">
              <span> 技术栈 </span>
            </a>
            </li>
          </ul>
          <ul class="nav pull-right top-menu">
              <li>
                  <form action="{% url 'techstack:articles' %}">
                     <input type="text" class="form-control search" placeholder="Search" name="search" id="search" value="{{ search }}">
                  </form>
              </li>
              <!-- user login dropdown start-->

              <li class="dropdown">
                  <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                      <img alt="" src="" height="30px">
                      <span class="username">Admin</span>
                      <b class="caret"></b>
                  </a>
                  <ul class="dropdown-menu">
                      <div class="log-arrow-up"></div>
                      <li><a class="" href="#"> 个人资料 </a></li>
                      <li><a class="" href="#"> 修改密码 </a></li>
                      <li><a class="" href="#"> 退出 </a></li>
                  </ul>
              </li>

              <!-- user login dropdown end -->
          </ul>
      </div>
</header>
<!--header end-->