{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}
    首页
{% endblock %}
{% block content %}
    <div class="banner">
    	<img src="/static/imgs/bannerzl.png" height="668" width="1919" alt="">
    </div>
    <div class="p-box">
    	<div class="content">
    		<h1>众乐网</h1>
    		<h3>
    			众乐网是一个免费的程序员接单平台。众乐网旨在构建一个程序员生态圈，
                每一个用户都可以发布任务和接取任务，没有平台手续费，发布者少花钱，接单者多赚钱，实现真正的"众乐"
    		</h3>
    	</div>
    </div>
    <div style="clear:both;"></div>
    <div class="p-box bg-grey">
    	<div class="content">
    		<ul>
    			<li class="trangle">
    				<a href="">
    					<img src="/static/imgs/img1.png" height="215" width="198" alt="">
    					<span>
    						<h2>有视服务平台</h2>
    						<p>有视是一个创新、可靠、可扩展的服务平台;它旨在为巨大的通话及数据传输提供服务。</p>
    					</span>
    				</a>
    			</li>
    			<li class="trangle">
    				<a href="">
    					<img src="/static/imgs/img2.png" height="215" width="198" alt="">
    					<span>
    						<h2>APIs和SDKs</h2>
    						<p>提供JavaScript library,Android SDK、IOS SDK供开发人员集成在线实时通讯功能到Web和移动设备中。</p>
    					</span>
    				</a>
    			</li>
    			<li class="trangle">
    				<a href="">
    					<img src="/static/imgs/img3.png" height="215" width="198" alt="">
    					<span>
    						<h2>高级前沿的技术</h2>
    						<p>基于下一代WebRTC技术，简单灵活易用，可轻松集成通讯功能。</p>
    					</span>
    				</a>
    			</li>
    		</ul>
    	</div>
    </div>
    <div class="p-box">
    	<div class="content">
    		<h1>我们的优势</h1>
    		<ul style="margin-top:40px;display:inline-block">
    			<li class="trangle scen">
    				<img src="/static/imgs/icon1.png" height="68" width="68" alt="">
    				<span>
						<h2>我们的愿景</h2>
						<p>构建一个属于程序员的生态圈。</p>
    				</span>
    			</li>
    			<li class="trangle scen">
    				<img src="/static/imgs/icon2.png" height="68" width="68" alt="">
					<span>
						<h2>我们的服务</h2>
						<p>任务一对一，专人负责，所有的任务都是以技术为主。</p>
					</span>
    			</li>
    			<li class="trangle scen">
    				<img src="/static/imgs/icon3.png" height="68" width="68" alt="">
					<span>
						<h2>我们的交易</h2>
						<p>线下沟通，直接扫码到对方账户，快速到账。</p>
					</span>
    			</li>
    			<li class="trangle scen">
    				<img src="/static/imgs/icon4.png" height="68" width="68" alt="">
					<span>
						<h2>我们的优势</h2>
						<p>没有平台手续费，发布者少花钱，接单者多赚钱。</p>
					</span>
    			</li>
    			<li class="trangle scen">
    				<img src="/static/imgs/icon5.png" height="68" width="68" alt="">
					<span>
						<h2>我们的特点</h2>
						<p>专门为程序员提供的解决问题的平台。</p>
					</span>
    			</li>
    		</ul>
    	</div>
    </div>
    <div class="p-box bg-grey" style="padding-bottom:0">
    	<div class="content">
    		<h1>专业的解决方案</h1>
    		<h3>
    			有视是基于下一代的WebRTC技术，面对各行业领域，我们的产品人员和工程师凭借丰富的经验，能够提供不同层次的解决方案，帮助企业和开发者以合理成本解决具体问题。
    		</h3>
    		<img src="/static/imgs/ban1.png" height="271" width="410" alt="">
    	</div>
    </div>
    <div class="p-box advantage">
    	<div class="content">
    		<span>我们的优势</span>
    		<ul>
    			<li>
    				可扩展
    			</li>
    			<li>
    				兼容Web，IOS,Android和PC端
    			</li>
    			<li>高级通讯功能</li>
    			<li>丰富云端服务</li>
    			<li>公有云/私有云服务器</li>
    		</ul>
    	</div>
    </div>
{% endblock %}
{% block scr %}
    <script>
        $(function(){
            $(".nav li").hover(function() {
                $(".second-nav",this).slideDown(100);
                /* Stuff to do when the mouse enters the element */
            }, function() {
                $(".second-nav",this).slideUp(100);
                // $(".second-nav").hide();
                /* Stuff to do when the mouse leaves the element */
            });
        })
    </script>
{% endblock %}